<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-item-balance-by-customer-heading"
        data-cy="ItemBalanceByCustomerCreateUpdateHeading"
        jhiTranslate="rentalstoreApp.itemBalanceByCustomer.home.createOrEditLabel"
      >
        Create or edit a Item Balance By Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="rentalstoreApp.itemBalanceByCustomer.outstandingBalance"
            for="field_outstandingBalance"
            >Outstanding Balance</label
          >
          <input
            type="number"
            class="form-control"
            name="outstandingBalance"
            id="field_outstandingBalance"
            data-cy="outstandingBalance"
            formControlName="outstandingBalance"
          />
          <div
            *ngIf="
              editForm.get('outstandingBalance')!.invalid &&
              (editForm.get('outstandingBalance')!.dirty || editForm.get('outstandingBalance')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('outstandingBalance')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('outstandingBalance')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('outstandingBalance')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.itemBalanceByCustomer.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.productName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['product'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.itemBalanceByCustomer.orderItem" for="field_orderItem"
            >Order Item</label
          >
          <select class="form-control" id="field_orderItem" data-cy="orderItem" name="orderItem" formControlName="orderItem">
            <option *ngIf="!editForm.get('orderItem')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="orderItemOption.id === editForm.get('orderItem')!.value?.id ? editForm.get('orderItem')!.value : orderItemOption"
              *ngFor="let orderItemOption of orderItemsSharedCollection; trackBy: trackOrderItemById"
            >
              {{ orderItemOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['orderItem'])!.invalid && (editForm.get(['orderItem'])!.dirty || editForm.get(['orderItem'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['orderItem'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.itemBalanceByCustomer.customer" for="field_customer"
            >Customer</label
          >
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option *ngIf="!editForm.get('customer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.customerName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['customer'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
