<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="rentalstoreApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.productName" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          <div *ngIf="editForm.get('productName')!.invalid && (editForm.get('productName')!.dirty || editForm.get('productName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.productDescription" for="field_productDescription"
            >Product Description</label
          >
          <input
            type="text"
            class="form-control"
            name="productDescription"
            id="field_productDescription"
            data-cy="productDescription"
            formControlName="productDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.productSize" for="field_productSize">Product Size</label>
          <input
            type="text"
            class="form-control"
            name="productSize"
            id="field_productSize"
            data-cy="productSize"
            formControlName="productSize"
          />
          <div *ngIf="editForm.get('productSize')!.invalid && (editForm.get('productSize')!.dirty || editForm.get('productSize')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productSize')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.pricePerDay" for="field_pricePerDay">Price Per Day</label>
          <input
            type="number"
            class="form-control"
            name="pricePerDay"
            id="field_pricePerDay"
            data-cy="pricePerDay"
            formControlName="pricePerDay"
          />
          <div *ngIf="editForm.get('pricePerDay')!.invalid && (editForm.get('pricePerDay')!.dirty || editForm.get('pricePerDay')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pricePerDay')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pricePerDay')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('pricePerDay')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.productImage" for="field_productImage"
            >Product Image</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('productImageContentType')!.value + ';base64,' + editForm.get('productImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('productImage')!.value"
              alt="product image"
            />
            <div *ngIf="editForm.get('productImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('productImageContentType')!.value }}, {{ byteSize(editForm.get('productImage')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('productImage', 'productImageContentType', 'file_productImage')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_productImage"
              data-cy="productImage"
              (change)="setFileData($event, 'productImage', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="productImage"
            id="field_productImage"
            data-cy="productImage"
            formControlName="productImage"
          />
          <input
            type="hidden"
            class="form-control"
            name="productImageContentType"
            id="field_productImageContentType"
            formControlName="productImageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="rentalstoreApp.product.productCategory" for="field_productCategory"
            >Product Category</label
          >
          <select
            class="form-control"
            id="field_productCategory"
            data-cy="productCategory"
            name="productCategory"
            formControlName="productCategory"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                productCategoryOption.id === editForm.get('productCategory')!.value?.id
                  ? editForm.get('productCategory')!.value
                  : productCategoryOption
              "
              *ngFor="let productCategoryOption of productCategoriesSharedCollection; trackBy: trackProductCategoryById"
            >
              {{ productCategoryOption.productCategoryName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
