<div>
  <h2 id="page-heading" data-cy="BillHeading">
    <span jhiTranslate="rentalstoreApp.bill.home.title">Bills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rentalstoreApp.bill.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bill"
        [routerLink]="['/bill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rentalstoreApp.bill.home.createLabel"> Create a new Bill </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bills?.length === 0">
    <span jhiTranslate="rentalstoreApp.bill.home.notFound">No bills found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bills && bills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span jhiTranslate="rentalstoreApp.bill.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="costBillNumber">
            <span jhiTranslate="rentalstoreApp.bill.costBillNumber">Cost Bill Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="billStatus">
            <span jhiTranslate="rentalstoreApp.bill.billStatus">Bill Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="billTotal">
            <span jhiTranslate="rentalstoreApp.bill.billTotal">Bill Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taxPercent">
            <span jhiTranslate="rentalstoreApp.bill.taxPercent">Tax Percent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="billTotalWithTax">
            <span jhiTranslate="rentalstoreApp.bill.billTotalWithTax">Bill Total With Tax</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customer.customerName">
            <span jhiTranslate="rentalstoreApp.bill.customer">Customer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let bill of bills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bill', bill.id, 'view']">{{ bill.id }}</a>
          </td>
          <td>{{ bill.code }}</td>
          <td>{{ bill.costBillNumber }}</td>
          <td jhiTranslate="{{ 'rentalstoreApp.BillStatus.' + bill.billStatus }}">{{ bill.billStatus }}</td>
          <td>{{ bill.billTotal }}</td>
          <td>{{ bill.taxPercent }}</td>
          <td>{{ bill.billTotalWithTax }}</td>
          <td>
            <div *ngIf="bill.customer">
              <a [routerLink]="['/customer', bill.customer?.id, 'view']">{{ bill.customer?.customerName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bill', bill.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bill', bill.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
